  <div class="row">

      <div class="col">
        <h1>The Goods</h1>
        <h3>Born in Sacramento, CA</h3>
        <h3>Grew up in Provo, UT</h3>
        <h3>June Baby</h3>
        <h3>Parents are from Mexico</h3>
        <h3>LDS Mission to Chile</h3>
      </div>

      <div class="col">
        <h1>Interests</h1>
        <h3>Sports</h3>
        <h3>Music- All of it</h3>
        <h3>Professional Slow Dancer</h3>
        <h3>Cold Bevs on Warm Beaches</h3>
        <h3>Mother Nature</h3>
      </div>

      <div class="col">
        <h1>Experience</h1>
        <h3>Attended BYU</h3>
        <h3>Provo High School</h3>
        <h3>A Lot Of Street Cred</h3>
        <h3>Recently learning to code</h3>
        <h3>Want to learn as much as possible</h3>
      </div>

    </div>