<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ray's About Me</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <nav>
      <img src="images/RaysProfile.jpg" alt="Ray Ray"/>
      <h1>Ray Gonzalez</h1>
    </nav>
    <div>
      <%= yield %>
    </div>  
  </body>
</html>
